{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a class="text-white text-xl font-bold" href="/">I HATE PDF</a>
            <button class="text-white lg:hidden" id="nav-toggle">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
            <div class="hidden lg:flex space-x-4" id="nav-content">
                <a class="text-gray-300 hover:text-white" href="/pdf/create">Génération PDF</a>
                <a class="text-gray-300 hover:text-white" href="/subscription">Souscrire</a>
                {% if app.user %}
                    <a class="text-gray-300 hover:text-white" href="{{ path('user_account') }}">Mon compte</a>
                {% else %}
                    <a class="text-gray-300 hover:text-white" href="/login">Connexion</a>
                    <a class="text-gray-300 hover:text-white" href="/register">Inscription</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
            <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">Mon compte</h1>
            <div>
                <h2 class="text-xl font-bold mb-4 text-gray-800">Historique de génération de PDF</h2>
                {% if app.user and app.user.subscription %}
                    <p>Nombre de PDF restant disponible avec votre abonnement : {{ app.user.subscription.getPdfLimit() }}</p>
                {% endif %}
                <br>
                <h3 class="text-xl font-bold mb-4 text-gray-800">Mon historique</h3>
                <ul>
                    {% for pdf in pdfs %}
                        <li class="flex items-center justify-between py-2">
                            <div class="flex items-center">
                                <i class="fas fa-file-pdf text-red-500"></i>
                                <span class="ml-2">{{ pdf.fileName }}</span> 
                            </div>
                            <div class="flex items
                                <span class="ml-2 text-gray-500">{{ pdf.generatedAt|date('Y-m-d H:i:s') }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <a href="/logout" class="w-full bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-md">
                Déconnexion
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById('nav-toggle').onclick = function() {
            document.getElementById('nav-content').classList.toggle('hidden');
        }
    </script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
{% endblock %}